html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #080808;
  color: white;
  line-height: 1.6;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 1px solid #222;
}

nav h3 {
  color: #d6b46a;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

nav a:hover {
  color: #d6b46a;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 60px;
  background: radial-gradient(circle at top right, #2b2414, #080808 45%);
}

.tag {
  color: #d6b46a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

h1 {
  font-size: 68px;
  max-width: 850px;
  line-height: 1.05;
  margin: 10px 0;
}

h2 {
  color: #d6b46a;
  font-size: 34px;
}

.hero p {
  max-width: 700px;
  color: #ddd;
  font-size: 20px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  margin-right: 12px;
  padding: 14px 28px;
  background: #d6b46a;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}

.secondary {
  background: transparent;
  color: #d6b46a;
  border: 1px solid #d6b46a;
}

section {
  padding: 70px 60px;
  max-width: 1150px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.card {
  background: #161616;
  padding: 30px;
  border-radius: 18px;
  border: 1px solid #333;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #d6b46a;
}

.card a {
  color: #d6b46a;
  text-decoration: none;
  font-weight: bold;
}

.skills {
  font-size: 21px;
  color: #ddd;
}

.hire {
  background: #111;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 550px;
}

input, textarea {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

textarea {
  min-height: 130px;
}

button {
  padding: 15px;
  background: #d6b46a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.fade-in {
  opacity: 0;
  transform: translateY(35px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  text-align: center;
  padding: 35px;
  background: #000;
  color: #aaa;
}

@media (max-width: 700px) {
  nav {
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    margin: 0 8px;
  }

  h1 {
    font-size: 42px;
  }

  section,
  .hero {
    padding: 45px 25px;
  }
}
